<div class="theme-popup-overlay hidden-overlay"></div>
<div class="rt-theme-popup color-secondary hide-popup" data-popup-type="password">
  <button class="theme-popup-close color-secondary">{% render 'theme-icons', icon: 'close' %}</button>
  <div class="popup--inner">
    <div class="header--intro center">
      <div class="header--head">
        <h3>{{ 'general.password_page.login_store_access' | t }}</h3>
      </div>
      <div class="header--desc">
        <p>{{ 'general.password_page.login_enter_password' | t }}</p>
      </div>
    </div>
    {%- form 'storefront_password', class: 'password-form' -%}
      <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
      {%- if form.errors -%}
        <legend class="theme--error-message">
          {%- render 'theme-icons', icon: 'warning' -%}
          {{ 'general.password_page.login_form_error' | t -}}
        </legend>
        <script>
          document.querySelector('.theme-popup-overlay').classList.remove("hidden-overlay");
          document.querySelector('.rt-theme-popup[data-popup-type="password"]').classList.remove("hide-popup");
        </script>
        {%- endif -%}
        <label class="field__label hide" for="{{ 'general.password_page.login_form_password_label' | t }}">
          {{- 'general.password_page.login_form_password_placeholder' | t -}}
        </label>
        <input
          type="password"
          name="password"
          id="Password"
          class="field__input"
          autocomplete="current-password"
          required
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <button name="commit" class="password-button btn btn--primary">
          {{ 'general.password_page.login_form_submit' | t }} {% render 'theme-icons', icon: 'arrow-up-right' %}
        </button>
      </div>
    {%- endform %}
  </div>
</div>