{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-panel.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }}{% unless section.settings.color_scheme == 'primary' %} section-with-padding{% endunless %}">
  <div class="collapsible-panel {% unless section.settings.color_scheme == 'primary' and section.settings.full_width %} page-width{% endunless %}">
    <div class="collapsible-panel__wrapper">
      <div>
        {%- if section.settings.title != blank or section.settings.subheading != blank -%}
          <div class="header--intro {{ section.settings.heading_alignment }}">
            <div class="header--head">
              <legend class="subheading special--base bold">{{ section.settings.subheading }}</legend>
              {%- if section.settings.title != blank -%}
                <h2 class="heading {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
              {%- else -%}
                <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
              {% endif %}
            </div>
          </div>
        {%- endif -%}
        
        <div class="grid grid--1-col grid--2-col-tablet collapsible-panel__grid">
          <div class="grid__item collapsible-panel__grid-item">
            <div
              class="collapsible-panel__media{% if section.settings.image == blank and section.settings.image_ratio == 'adapt' %} collapsible-panel__media--small{% else %} collapsible-panel__media--{{ section.settings.image_ratio }}{% endif %} media global-media-settings gradient"
              {% if section.settings.image_ratio == 'adapt' and section.settings.image != blank %}
                style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              {%- if section.settings.image != blank -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                {{
                  section.settings.image
                  | image_url: width: 1500
                  | image_tag: loading: 'lazy', class: 'loading__animation', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1250, 1500'
                }}
              {% else %}
                <div class="placeholder-background">
                  {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="grid__item collapsible-panel__grid-right">
            {%- for block in section.blocks -%}
              <div class="accordion color-{{ section.settings.collapsible_color_scheme }}{% if section.settings.open_first_collapsible_row and forloop.first %} active{% endif %}">
                <button type="button" class="accordion__toggle-btn">
                  <h4 class="h5">{{ block.settings.heading | default: block.settings.page.title }}</h4>
                  {% render 'theme-icons', icon: 'plus' %}
                  {% render 'theme-icons', icon: 'minus' %}
                </button>
                <div class="accordion__content-rte rte color-{{ section.settings.collapsible_color_scheme }}" {% if section.settings.open_first_collapsible_row and forloop.first %}style="display: block;"{% endif %}>
                  {{ block.settings.row_content }}
                  {{ block.settings.page.content }}
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collapsible-panel.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": false
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.color_scheme.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.color_scheme.secondary.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        },
        {
          "value": "gray",
          "label": "t:sections.all.color_scheme.gray.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_header.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.heading.label",
      "default": "Collapsible panel"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible-panel.settings.header.content"
    },
    {
      "type": "select",
      "id": "collapsible_color_scheme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.color_scheme.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.color_scheme.secondary.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        },
        {
          "value": "gray",
          "label": "t:sections.all.color_scheme.gray.label"
        }
      ],
      "default": "gray",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "open_first_collapsible_row",
      "default": false,
      "label": "t:sections.collapsible-panel.settings.open_first_collapsible_row.label"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible-panel.settings.header1.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.collapsible-panel.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collapsible-panel.settings.image_ratio.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.collapsible-panel.settings.image_ratio.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.collapsible-panel.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.collapsible-panel.settings.image_ratio.label"
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible-panel.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row list",
          "label": "t:sections.collapsible-panel.blocks.collapsible_row.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible-panel.blocks.collapsible_row.settings.row_content.label",
          "default": "<p>Add some content for the collapsible row here.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible-panel.blocks.collapsible_row.settings.page.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible-panel.presets.name",
      "blocks": [
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        },
        {
          "type": "collapsible_row"
        }
      ]
    }
  ]
}
{% endschema %}
