<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}
<div class="blog {% if section.settings.color_scheme_outer != 'primary' and section.settings.full_width %} color-{{ section.settings.color_scheme_outer }} section-with-padding{% endif %}">
  <div class="{% if section.settings.full_width and section.settings.color_scheme_outer != 'primary' %}page-width{% elsif section.settings.full_width == false %}page-width{% endif %}">
    {%- if section.settings.title != blank -%}
      <div class="header--intro {{ section.settings.heading_alignment }}">
        <div class="header--head">
          <legend class="subheading special--base bold">{{ section.settings.subheading }}</legend>
          <h2 class="heading {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
        </div>
      </div>
    {%- endif -%}
    <slider-component class="slider-mobile-gutter">
      <ul
        id="Slider-{{ section.id }}"
        class="blog__posts blog-articles articles-wrapper contains-card contains-card--article{% if settings.grid_style == 'standard' %} contains-card--standard{% endif %} grid grid--peek grid--2-col-tablet grid--{{ section.settings.blogs_per_row }}-col-desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %}"
        role="list"
      >
        {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="blog__post grid__item article slider__slide slider__slide--full-width"
            >
              {% render 'article-card',
                blog: section.settings.blog,
                article: article,
                text_alignment: section.settings.text_alignment,
                media_height: section.settings.image_height,
                media_aspect_ratio: article.image.aspect_ratio,
                show_image: section.settings.show_image,
                article_per_row: section.settings.blogs_per_row,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: true,
                color_scheme: section.settings.color_scheme
              %}
            </li>
          {%- endfor -%}
        {% else %}
          {% for i in (1..4) limit: section.settings.post_limit %}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="blog__post grid__item article slider__slide slider__slide--full-width"
            >
              <div class="article-card-wrapper article-card-placeholder card-wrapper">
                <div
                  class="card article-card card--media ratio">
                  <div class="card__inner">
                    <div class="card__media-placeholder">
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  </div>
                </div>
                <div class="card__content color-{{ section.settings.color_scheme }}">
                  <div class="article-card__information {{ section.settings.text_alignment }}">
                    <div class="article-card__info">
                      <h3 class="card__heading h5">
                        {{ 'sections.featured_blog.onboarding_title' | t }}
                      </h3>
                    </div>
                      <div class="article--excert">
                        <p class="article-card__excerpt">
                         {{ 'sections.featured_blog.onboarding_content' | t }}
                        </p>
                      </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      {%- if posts_exceed_limit -%}
        <div class="slider__controls-area-tablet slider-buttons no-js-hidden mobile-column-1">
          <div class="slider__controls-arrow hide">
            <button  type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
              {% render 'theme-icons', icon: 'chevron-right' %}
            </button>
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
              {% render 'theme-icons', icon: 'chevron-left' %}
            </button>
          </div>
          <div class="slider-counter caption large-up-hide">
            <div class="slideshow__control-wrapper grid-tablet-2">
              {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
              <button class="slider-counter__link slider-counter__link--dots link" data-index="{{ forloop.index0 }}" aria-label="featured-blog-slider-dots" aria-controls="Slider-{{ section.id }}">
                <span class="dot"></span>
              </button>
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- else -%}
        <div class="slider__controls-area-tablet slider-buttons no-js-hidden mobile-column-1">
          <div class="slider__controls-arrow hide">
            <button  type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
              {% render 'theme-icons', icon: 'chevron-right' %}
            </button>
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
              {% render 'theme-icons', icon: 'chevron-left' %}
            </button>
          </div>
          <div class="slider-counter caption large-up-hide">
            <div class="slideshow__control-wrapper grid-tablet-2">
            {% for i in (1..4) limit: section.settings.post_limit %}
              <button class="slider-counter__link slider-counter__link--dots link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}" aria-controls="Slider-{{ section.id }}">
                <span class="dot"></span>
              </button>
              {%- endfor -%}
            </div>
          </div>
        </div>
      {% endif %}
    </slider-component>

    {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
      <div class="blog__view-all btn-view-all">
        <a
          href="{% if section.settings.show_view_all_link != blank %}{{ section.settings.show_view_all_link }}{% else %}{{ section.settings.blog.url }}{% endif %}"
          id="ViewAll-{{ section.id }}"
          class="btn btn--primary btn--center"
          aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
        >
          {{ 'sections.featured_blog.view_all' | t }} {% render 'theme-icons', icon: 'arrow-up-right' %}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": false
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.maximum_blogs.label"
    },
    {
      "type": "range",
      "id": "blogs_per_row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.blogs_per_row.label"
    },
    {
      "type": "select",
      "id": "color_scheme_outer",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.color_scheme.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.color_scheme.secondary.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        },
        {
          "value": "gray",
          "label": "t:sections.all.color_scheme.gray.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.all.color_scheme.label",
      "info": "t:sections.all.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_header.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.heading.label",
      "default": "Blog posts"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.header.content"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.color_scheme.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.color_scheme.secondary.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        },
        {
          "value": "gray",
          "label": "t:sections.all.color_scheme.gray.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.featured-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.featured-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.featured-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "small",
      "label": "t:sections.featured-blog.settings.image_height.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "url",
      "id": "show_view_all_link",
      "label": "t:sections.collection-list.settings.show_view_all.link.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
