{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}


{%- paginate blog.articles by section.settings.maximum_blogs -%}
  <div class="main-blog{% unless section.settings.full_width %} page-width{% endunless %}{% unless settings.extra_space %} page-width-with-extra{% endunless %}">
    <div class="header--intro {{ section.settings.heading_alignment }}">
      <div class="header--head">
        <h1 class="{{ section.settings.heading_size }}">{{ blog.title | escape }}</h1>
      </div>
    </div>
    <div class="blog-articles column--{{ section.settings.blogs_per_row }}">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            text_alignment: section.settings.text_alignment,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_author: section.settings.show_author,
            show_image: section.settings.show_image,
            article_per_row: section.settings.blogs_per_row,
            show_date: section.settings.show_date,
            show_excerpt: true,
            color_scheme: section.settings.color_scheme
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": false
    },
    {
      "type": "range",
      "id": "maximum_blogs",
      "min": 6,
      "max": 12,
      "step": 1,
      "label": "t:sections.main-blog.settings.maximum_blogs.label",
      "default": 6
    },
    {
      "type": "range",
      "id": "blogs_per_row",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "t:sections.main-blog.settings.blog_per_row.label",
      "default": 3
    },
    {
      "type": "header",
      "content": "t:sections.all.section_header.content"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.heading_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.color_scheme.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.color_scheme.secondary.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        },
        {
          "value": "gray",
          "label": "t:sections.all.color_scheme.gray.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.text_alignment.label"
    }
  ]
}
{% endschema %}
