<div class="root--password">
  <div class="password__main">
    <div class="header--intro center">
      {% if section.settings.logo != blank %}
        <h1 class="logo--image">
          <img class="logo image--border"
            src="{{ section.settings.logo | image_url: width: 120 }}"
            alt="{{ section.settings.logo.alt }}"
            width="120"
            loading="lazy"
            height="{{ 120 | divided_by: section.settings.logo.preview_image.aspect_ratio }}"
          >
        </h1>
      {% else %}
        <h1 class="h2 logo">{{ shop.name }}</h1>
      {% endif %}
    </div>
    <div class="newsletter newsletter__wrapper center isolate color-{{ section.settings.color_scheme }} root--box size--medium">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'content' -%}
            <div class="header--intro center">
                <div class="header--head">
                  <h3>{{ block.settings.heading | escape }}</h3>
                </div>
                <div class="header--desc">
                  {{ block.settings.text }}
                </div>
            </div>
           {%- when 'email_form' -%}
            <div class="newsletter--form-content" {{ block.shopify_attributes }}>
              {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    {%- if form.errors -%}
                      <legend class="theme--error-message">
                        {%- render 'theme-icons', icon: 'warning' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </legend>
                    {%- endif -%}
                    {%- if form.posted_successfully? -%}
                     <legend class="theme--success-message">
                        {%- render 'theme-icons', icon: 'check' -%}
                        {{- 'newsletter.success' | t }}
                      </legend>
                    {%- endif -%}
                    <label class="field__label hide" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <button
                      type="submit"
                      class="newsletter-form__button btn btn--primary"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      {{ 'general.buttons.notify_me' | t }}
                      {% render 'theme-icons', icon: "arrow-up-right" %}
                    </button>
                  </div>
                </div>
              {% endform %}
              <a href="#" class="popup--button link--underline bold" data-modal-type="password">{{ 'general.password_page.login_password_button' | t }}</a>
              <ul class="list-social list-unstyled" role="list">
                {%- if settings.social_instagram_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_instagram_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'instagram' -%}
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_facebook_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'facebook' -%}
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_twitter_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_twitter_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'formely_twitter' -%}
                      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_vimeo_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'vimeo' -%}
                      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_youtube_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'youtube' -%}
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_tiktok_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'tiktok' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_snapchat_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'snapchat' -%}
                      <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_pinterest_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'pinterest' -%}
                      <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <li class="list-social__item">
                    <a target="_blank" href="{{ settings.social_tumblr_link }}" class="link list-social__link">
                      {%- render 'theme-icons', icon: 'tumblr' -%}
                      <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
  <div class="password__footer">
    {% capture shopify %}
      <a class="shopify-link"
        href="//www.shopify.com"
        rel="nofollow"
        target="_blank"
        aria-describedby="a11y-new-window-message"
        aria-label="Shopify">
        {% render 'theme-icons', icon: 'shopify' %}
      </a>
    {% endcapture %}
    <small class="password__footer-caption password__footer-text">
      {{- 'general.password_page.powered_by_shopify_html' | t: shopify: shopify -}}
    </small>
    <small class="password__footer-login password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
    <a href="{{ shop.url }}/admin" class="bold link--underline">{{ 'general.password_page.login_here' | t }}</a>
  </div>
</div>
{% render 'password-popup' %}
{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password.settings.logo"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.color_scheme.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.color_scheme.secondary.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        },
        {
          "value": "gray",
          "label": "t:sections.all.color_scheme.gray.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.all.color_scheme.label"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:sections.main-password.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Opening soon",
          "label": "t:sections.main-password.blocks.content.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know when our store launches! Sign up with your email address below to stay updated on our latest news.</p>",
          "label": "t:sections.main-password.blocks.content.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.main-password.blocks.email_form.name",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-password.presets.name",
      "blocks": [
        {
          "type": "content"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ],
  "templates": [
    "password"
  ]
}
{% endschema %}
