{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer customer--box login color-secondary">
  <div class="header--intro center">
    <div class="header--head">
      <h1 class="h3">
        {{ 'customer.reset_password.title' | t }}
      </h1>
    </div>
    <div class="header--desc">
      <p>{{ 'customer.reset_password.subtext' | t }}</p>
    </div>
  </div>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors contains 'password_confirmation' -%}
      <legend class="theme--error-message special--medium message__field">{% render 'theme-icons', icon: 'warning' %}{{ form.errors.messages.password_confirmation }}</legend>
    {%- else -%}
        {%- if form.errors %}
            <legend class="theme--error-message special--medium message__field">{% render 'theme-icons', icon: 'warning' %}{{ form.errors.messages.form }}</legend>
        {% endif %}
    {% endif %}
    <div class="field">
      <label for="password" class="hide">
        {{ 'customer.reset_password.password' | t }}
      </label>
      <input
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
      >
      {%- if form.errors contains 'password' -%}
        <small id="password-error" class="form__message">
          <svg aria-hidden="true" focusable="false">
            <use href="#icon-error" />
          </svg>
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </small>
      {%- endif -%}
    </div>

    <div class="field">
      <label for="password_confirmation" class="hide">
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      >
    </div>

    <button class="btn btn--primary">
      {{ 'customer.reset_password.submit' | t }} {% render 'theme-icons', icon: 'arrow-up-right' %}
    </button>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
