{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<div class="newsletter center{% if section.settings.color_scheme != 'primary' and section.settings.full_width %} color-{{ section.settings.color_scheme }} section-with-padding{% else %}{% unless settings.extra_space %} page-width-with-extra{% endunless %}{% endif %}">
  <div class="newsletter__wrapper">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
            {{ block.settings.heading | escape }}
          </h2>
        {%- when 'paragraph' -%}
          <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'email_form' -%}
          <div {{ block.shopify_attributes }}>
            {% assign formId = 'customer_form-' | append: section.id %}
            {%- form 'customer', class: 'newsletter-form', id: formId -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper"> 
                {%- if form.posted_successfully? -%}
                  <legend class="theme--success-message special--base">{% render 'theme-icons', icon: 'check' %} {{- 'newsletter.success' | t }}</legend>
                {%- else -%}
                    <legend class="theme--error-message special--base{% unless form.errors %} hide{% endunless %}">
                      {% render 'theme-icons', icon: 'warning' %}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </legend>
                  <div class="field">
                    <label class="field__label hide text-left" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                          aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'newsletter.placeholder' | t }}"
                      required
                      >
                      <button type="submit"
                        class="btn btn--primary btn-newsletter__submit"
                        name="commit"
                        id="Subscribe-button"
                        tabindex="0"
                        aria-label="{{ 'newsletter.button_label' | t }}">
                        {{ 'newsletter.button_label' | t }}{% render 'theme-icons', icon: 'arrow-up-right' %}
                      </button>
                  </div>
                {% endif %}
              </div>
            {%- endform -%}
            
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout.content"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "secondary",
          "label": "t:sections.all.color_scheme.secondary.label"
        },
        {
          "value": "light",
          "label": "t:sections.all.color_scheme.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.color_scheme.dark.label"
        },
        {
          "value": "gray",
          "label": "t:sections.all.color_scheme.gray.label"
        }
      ],
      "default": "secondary",
      "label": "t:sections.all.color_scheme.label",
      "info": "t:sections.newsletter.settings.color.info"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Sign up and save",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
